/*I had the idea of using an image for the gameboard,
so the canvas is drawn above the gameboard*/
.webpageArea {
  background-color: rgb(0, 0, 0);
  text-align: center;
}
/*This is the div that stores the gameboard and canvas.*/
.container {
  display: inline-block;
  width: 674px;
  height: 746px;
  margin: auto;
  position: relative;
}
/*This is the canvas.*/
.gameArea {
  position: relative;
  z-index: 20;
}
/*This is the gameboard behind the canvas.*/
.gameBoard {
  position: absolute;
  z-index: 1;
  width: 672px;
  height: 744px;
}
/*https://stackoverflow.com/questions/15639726/how-to-set-canvas-on-top-of-image-in-html
The author: Loktar
Loktar's code is what I used to put the image of my gameboard behind the canvas.
*/
